<!DOCTYPE html>
{% extends 'base.html' %}

{% block title %}Вход | reinteg{% endblock title %}

<html lang="en">

<head>
    <meta charset="UTF-8">
    {#    <title>Title</title>#}
</head>

<body>
    {% block content %}
    <form method="post" class="login__form">
        {% csrf_token %}
        <div class="dflex_column">
            <p style="align-self: center; font-size: 20px">Войдите в учетную запись reinteg</p>
            {{ form }}
            <button class="btn btn-success" type="submit"
                style="display: block; width: 15vw; margin-top: 30px; margin-bottom: 20px; align-self: center;">Войти</button>
            <div style="float: right;">
                <a href="{% url 'signup' %}">Нет аккаунта? Зарегистрируйтесь!</a>
                <a href="#" style="float: right;">Забыли пароль?</a>
            </div>
        </div>
    </form>
    <script type="text/javascipt">
        document.getelementById("id_username").setAttribute("placeholder", "Имя пользователя")
        document.getelementById("id_passwpord").setAttribute("placeholder", "Пароль")
    </script>
    {% endblock content %}
</body>

</html>