<!DOCTYPE html>
{% extends 'base.html' %}

{% block title %}Изменить пароль{% endblock title %}

<html lang="en">

<head>
    <meta charset="UTF-8">
</head>

<body>
    {% block content %}
    <form method="post" class="password__change__form">
        {% csrf_token %}
        <div class="dflex_column">
            <p style="margin-top: 10px; margin-left: 10px;">Изменить пароль для вашей учетной записи reinteg</p>
            {{ form }}
            <button class="btn btn-success" style="padding: 5px 25px; width: fit-content; margin-left: 10px;" type="submit">Изменить</button>
        </div>
    </form>
    <script type="text/javascript">
        document.querySelectorAll("input").forEach(input => {
            if (input.getAttribute("type") != "submit") {
                input.classList.add("custom-input");
            }
        })
        document.getElementById("id_old_password").setAttribute("placeholder", "Текущий пароль");
        document.getElementById("id_new_password1").setAttribute("placeholder", "Новый пароль");
        document.getElementById("id_new_password2").setAttribute("placeholder", "Подвердите новый пароль");
    </script>
    {% endblock content %}
</body>

</html>